body {
    background: url('./image/images\ \(4\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
  }
  
  .my-input {
    width: 100%;
    background: transparent;
    border: 1px solid #000277;;
    padding: 15px 10px;
    color: white;
    margin-bottom: 15px;
  }
  
  .my-btn {
    width: 100%;
    padding: 16px;
    border: none;
    background: #000277;
    color: white;
    font-weight: 700;
  }
  
  #names-list {
    text-align: center;
    margin-top: 20px;
    color: white;
    cursor: pointer;
  }
  